@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Labrada:ital,wght@0,400;0,600;1,100&family=Tilt+Warp&display=swap');

 .mapa{
  margin: 60;
  padding: 50;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.container {
  max-width: 300px;
  width: 100%;
  margin: 0 ;
  position: relative;
  font-family: 'Tilt Warp', cursive;
  font-weight: 55;
  letter-spacing: 1.2px;
  padding:0;

}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact input[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

/* muda o tamanho do formulario*/

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin-left: 60px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
/* muda as cores*/

#contact input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #3284ff;
  color: white;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 20px;
}
/* muda as cores*/

#contact input[type="submit"]:hover {
  background: rgb(226, 224, 112);
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

#contact input[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

#mensagem {
  transition: all 0.52s;
  background: #FFF;
  border: #777 solid 1px;
  box-shadow: 1px 1px 5px rgba(0,0,0,.52);
  position: fixed;
  top: -150px;
  width: 50%;
  padding: 25px 0;
  text-align: center;
  left: 25%;
  opacity: 0;
}

#mensagem.ver {
  top: 75px;
  opacity: 1;
}

.butao{
  padding: 5px;
  font-family: 'Tilt Warp', cursive;
  background-color: #57B5E0;
  border-radius: 5px;
  font-size: 19px;
  color: white;
  width: 100%;
  border: 0px;  
  transition: 0.3s;
}

.butao:hover{
  color: black;
  background-color: rgb(116, 212, 116);
}

